@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.bg-black {
  background-color: rgb(27, 36, 48);
}

.bg-black-light-1 {
  background-color: #323a45;
}

.hover-black-dark-1:hover {
  background-color: #18202b;
  color: white;
}

.bg-black-light-2 {
  background-color: #495059;
}

.hover-black-dark-2:hover {
  background-color: #161d26;
  color: white;
}

.bg-black-light-3 {
  background-color: #5f666e;
}

.hover-black-dark-3:hover {
  background-color: #131922;
  color: white;
}

.bg-black-light-4 {
  background-color: #767c83;
}

.hover-black-dark-4:hover {
  background-color: #10161d;
  color: white;
}

.bg-black-light-5 {
  background-color: #8d9298;
}

.hover-black-dark-5:hover {
  background-color: #0e1218;
  color: white;
}

.bg-brown {
  background-color: rgb(108, 52, 40);
}

.bg-brown-light-1 {
  background-color: #7b483e;
}

.hover-brown-dark-1:hover {
  background-color: #612f24;
  color: white;
}

.bg-brown-light-2 {
  background-color: #895d53;
}

.hover-brown-dark-2:hover {
  background-color: #562a20;
  color: white;
}

.bg-brown-light-3 {
  background-color: #987169;
}

.hover-brown-dark-3:hover {
  background-color: #4c241c;
  color: white;
}

.bg-brown-light-4 {
  background-color: #a7857e;
}

.hover-brown-dark-4:hover {
  background-color: #411f18;
  color: white;
}

.bg-brown-light-5 {
  background-color: #b69a94;
}

.hover-brown-dark-5:hover {
  background-color: #361a14;
  color: white;
}

.bg-red {
  background-color: rgb(210, 19, 18);
}

.bg-red-light-1 {
  background-color: #d72b2a;
}

.hover-red-dark-1:hover {
  background-color: #bd1110;
  color: white;
}

.bg-red-light-2 {
  background-color: #db4241;
}

.hover-red-dark-2:hover {
  background-color: #a80f0e;
  color: white;
}

.bg-red-light-3 {
  background-color: #e05a59;
}

.hover-red-dark-3:hover {
  background-color: #930d0d;
  color: white;
}

.bg-red-light-4 {
  background-color: #e47171;
}

.hover-red-dark-4:hover {
  background-color: #7e0b0b;
  color: white;
}

.bg-red-light-5 {
  background-color: #e98989;
}

.hover-red-dark-5:hover {
  background-color: #690a09;
  color: white;
}

.bg-yellow {
  background-color: rgb(255, 247, 138);
}

.bg-yellow-light-1 {
  background-color: #fff896;
}

.hover-yellow-dark-1:hover {
  background-color: #e6de7c;
  color: white;
}

.bg-yellow-light-2 {
  background-color: #fff9a1;
}

.hover-yellow-dark-2:hover {
  background-color: #ccc66e;
  color: white;
}

.bg-yellow-light-3 {
  background-color: #fff9ad;
}

.hover-yellow-dark-3:hover {
  background-color: #b3ad61;
  color: white;
}

.bg-yellow-light-4 {
  background-color: #fffab9;
}

.hover-yellow-dark-4:hover {
  background-color: #999453;
  color: white;
}

.bg-yellow-light-5 {
  background-color: #fffbc5;
}

.hover-yellow-dark-5:hover {
  background-color: #807c45;
  color: white;
}

.bg-orange {
  background-color: rgb(228, 143, 69);
}

.bg-orange-light-1 {
  background-color: #e79a58;
}

.hover-orange-dark-1:hover {
  background-color: #cd813e;
  color: white;
}

.bg-orange-light-2 {
  background-color: #e9a56a;
}

.hover-orange-dark-2:hover {
  background-color: #b67237;
  color: white;
}

.bg-orange-light-3 {
  background-color: #ecb17d;
}

.hover-orange-dark-3:hover {
  background-color: #a06430;
  color: white;
}

.bg-orange-light-4 {
  background-color: #efbc8f;
}

.hover-orange-dark-4:hover {
  background-color: #895629;
  color: white;
}

.bg-orange-light-5 {
  background-color: #f2c7a2;
}

.hover-orange-dark-5:hover {
  background-color: #724823;
  color: white;
}

.bg-pink {
  background-color: rgb(233, 119, 119);
}

.bg-pink-light-1 {
  background-color: #eb8585;
}

.hover-pink-dark-1:hover {
  background-color: #d26b6b;
  color: white;
}

.bg-pink-light-2 {
  background-color: #ed9292;
}

.hover-pink-dark-2:hover {
  background-color: #ba5f5f;
  color: white;
}

.bg-pink-light-3 {
  background-color: #f0a0a0;
}

.hover-pink-dark-3:hover {
  background-color: #a35353;
  color: white;
}

.bg-pink-light-4 {
  background-color: #f2adad;
}

.hover-pink-dark-4:hover {
  background-color: #8c4747;
  color: white;
}

.bg-pink-light-5 {
  background-color: #f4bbbb;
}

.hover-pink-dark-5:hover {
  background-color: #753c3c;
  color: white;
}

.bg-blue {
  background-color: rgb(16, 55, 197);
}

.bg-blue-light-1 {
  background-color: #284bcb;
}

.hover-blue-dark-1:hover {
  background-color: #0e32b1;
  color: white;
}

.bg-blue-light-2 {
  background-color: #405fd1;
}

.hover-blue-dark-2:hover {
  background-color: #0d2c9e;
  color: white;
}

.bg-blue-light-3 {
  background-color: #5873d6;
}

.hover-blue-dark-3:hover {
  background-color: #0b278a;
  color: white;
}

.bg-blue-light-4 {
  background-color: #7087dc;
}

.hover-blue-dark-4:hover {
  background-color: #0a2176;
  color: white;
}

.bg-blue-light-5 {
  background-color: #889be2;
}

.hover-blue-dark-5:hover {
  background-color: #081c63;
  color: white;
}

.bg-green {
  background-color: rgb(154, 222, 123);
}

.bg-green-light-1 {
  background-color: #a4e188;
}

.hover-green-dark-1:hover {
  background-color: #8bc86f;
  color: white;
}

.bg-green-light-2 {
  background-color: #aee595;
}

.hover-green-dark-2:hover {
  background-color: #7bb262;
  color: white;
}

.bg-green-light-3 {
  background-color: #b8e8a3;
}

.hover-green-dark-3:hover {
  background-color: #6c9b56;
  color: white;
}

.bg-green-light-4 {
  background-color: #c2ebb0;
}

.hover-green-dark-4:hover {
  background-color: #5c854a;
  color: white;
}

.bg-green-light-5 {
  background-color: #cdefbd;
}

.hover-green-dark-5:hover {
  background-color: #4d6f3e;
  color: white;
}

.bg-Dark-green {
  background-color: rgb(121, 172, 120);
}

.bg-Dark-green-light-1 {
  background-color: #86b486;
}

.hover-Dark-green-dark-1:hover {
  background-color: #6d9b6c;
  color: white;
}

.bg-Dark-green-light-2 {
  background-color: #94bd93;
}

.hover-Dark-green-dark-2:hover {
  background-color: #618a60;
  color: white;
}

.bg-Dark-green-light-3 {
  background-color: #a1c5a1;
}

.hover-Dark-green-dark-3:hover {
  background-color: #557854;
  color: white;
}

.bg-Dark-green-light-4 {
  background-color: #afcdae;
}

.hover-Dark-green-dark-4:hover {
  background-color: #496748;
  color: white;
}

.bg-Dark-green-light-5 {
  background-color: #bcd6bc;
}

.hover-Dark-green-dark-5:hover {
  background-color: #3d563c;
  color: white;
}

.bg-purple {
  background-color: rgb(148, 11, 146);
}

.bg-purple-light-1 {
  background-color: #9f239d;
}

.hover-purple-dark-1:hover {
  background-color: #850a83;
  color: white;
}

.bg-purple-light-2 {
  background-color: #a93ca8;
}

.hover-purple-dark-2:hover {
  background-color: #760975;
  color: white;
}

.bg-purple-light-3 {
  background-color: #b454b3;
}

.hover-purple-dark-3:hover {
  background-color: #680866;
  color: white;
}

.bg-purple-light-4 {
  background-color: #bf6dbe;
}

.hover-purple-dark-4:hover {
  background-color: #590758;
  color: white;
}

.bg-purple-light-5 {
  background-color: #ca85c9;
}

.hover-purple-dark-5:hover {
  background-color: #4a0649;
  color: white;
}

.bg-sky-blue {
  background-color: rgb(0, 169, 255);
}

.bg-sky-blue-light-1 {
  background-color: #1ab2ff;
}

.hover-sky-blue-dark-1:hover {
  background-color: #0098e6;
  color: white;
}

.bg-sky-blue-light-2 {
  background-color: #33baff;
}

.hover-sky-blue-dark-2:hover {
  background-color: #0087cc;
  color: white;
}

.bg-sky-blue-light-3 {
  background-color: #4dc3ff;
}

.hover-sky-blue-dark-3:hover {
  background-color: #0076b3;
  color: white;
}

.bg-sky-blue-light-4 {
  background-color: #66cbff;
}

.hover-sky-blue-dark-4:hover {
  background-color: #006599;
  color: white;
}

.bg-sky-blue-light-5 {
  background-color: #80d4ff;
}

.hover-sky-blue-dark-5:hover {
  background-color: #005580;
  color: white;
}

.btn {
  width: 100px;
  height: 30px;
  border: none;
  border-radius: 10px;
  font-weight: bold;
  cursor: pointer;
  background-color: rgb(249, 232, 217);
}

.welcome {
  font-size: 2.5rem;
  color: lightgray;
}

.my-self {
  font-size: 3.5rem;
  color: lightgray;
}

.name {
  font-family: "Nunito Sans", sans-serif;
  background-color: red;
  margin-left: 15px;
  color: white;
  padding: 4px;
  border-radius: 15px 5px 15px 5px;
}

.profession {
  margin-left: 180px;
  font-size: 2rem;
  display: flex;
  align-items: center;
  padding: 10px;
  color: lightgray;
}

.hero, .hero1 {
  width: 1300px;
  margin: 0 auto;
  margin-bottom: 10px;
}

.hero {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  padding-left: 400px;
}

.arrow {
  position: fixed;
  bottom: 30px;
  left: 49.3%;
  transition: bottom 0.3s ease;
}

.arrow:hover {
  bottom: 37px;
}

.nav-bar {
  display: flex;
  flex-direction: column;
  position: fixed;
  justify-content: center;
  align-items: center;
  top: 0;
  height: 100vh;
}

.nav-bar a {
  margin: 10px;
  padding: 10px;
  border-radius: 50%;
}

.nav-bar a i {
  bottom: 5px;
  position: relative;
  transition: bottom 0.5s ease;
}

.nav-bar a i:hover {
  bottom: 15px;
}

.note {
  margin-top: 10px;
  float: right;
  padding: 10px;
  width: 200px;
  height: auto;
  border-left: 5px solid rgb(233, 119, 119);
  font-weight: 900;
  color: lightgray;
}

.box {
  background-color: lightgray;
  width: 500px;
  height: 190px;
  padding: 20px;
  border-radius: 5px;
  margin: 20px;
  color: rgb(210, 19, 18);
}

.hero1 {
  height: 120px;
}

.title {
  display: flex;
  justify-content: center;
  font-size: 3.5rem;
  padding: 30px;
  color: lightgray;
}

.timeline-section {
  min-height: 100vh;
  padding: 100px 15px;
}

.timeline-items {
  max-width: 1000px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  position: relative;
}

.timeline-items::before {
  content: "";
  position: absolute;
  width: 1px;
  height: 100%;
  background-color: lightgray;
  left: calc(50% - 1px);
}

.timeline-item {
  margin-bottom: 40px;
  width: 100%;
  position: relative;
}

.timeline-item:last-child {
  margin-bottom: 0;
}

.timeline-item:nth-child(odd) {
  padding-right: calc(50% + 30px);
  text-align: right;
}

.timeline-item:nth-child(even) {
  padding-left: calc(50% + 30px);
}

.timeline-dot {
  height: 14px;
  width: 14px;
  background-color: red;
  position: absolute;
  left: calc(50% - 7px);
  border-radius: 50%;
  top: 10px;
}

.timeline-date {
  font-size: 1rem;
  font-weight: 700;
  color: red;
  margin: 6px 0 15px;
}

.timeline-content {
  background-color: lightgray;
  padding: 30px;
  border-radius: 5px;
  position: relative;
  bottom: 5px;
  transition: bottom 0.5s ease, box-shadow 0.5s ease;
}

.timeline-content:hover {
  bottom: 10px;
  cursor: pointer;
  box-shadow: 0 0 20px rgba(73, 67, 67, 0.3);
}

.timeline-content h3 {
  font-size: 2rem;
  color: #ffffff;
  margin: 0 0 10px;
  text-transform: capitalize;
  font-weight: 500;
}

.timeline-content h4 {
  color: #ffffff;
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 22px;
}

/* responsive */
@media (max-width: 767px) {
  .nav-bar
    {
        display: none;
    }
  .timeline-items::before {
    left: 7px;
  }
  .timeline-item:nth-child(odd) {
    padding-right: 0;
    text-align: left;
  }
  .timeline-item:nth-child(odd),
  .timeline-item:nth-child(even) {
    padding-left: 37px;
  }
  .timeline-dot {
    left: 0;
  }
}
