@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
  scroll-padding: 10rem;
}

body
{
background-image: linear-gradient(to right bottom, #ffffff, #f1f0fd, #e1e1fc, #d0d3fb, #bcc5fa, #aebbf9, #9fb1f9, #8fa8f8, #859ff7, #7b95f6, #718cf4, #6882f2);
}
.arrow {
  width: 100%;
  display: flex;
  justify-content: center;
}

.menu
{
    display: none;
}
.arrow a
{
    position: fixed;
    bottom: 30px;
    transition: bottom 0.3s ease;
    z-index: 1;
}

.arrow a:hover {
  bottom: 37px;
}

.nav-bar.open {
  right: 0;
  transition: right 0.6s ease;
}


.menu i {
  transition: transform 0.6s ease;
}

.menu.open i {
  transform: rotate(-90deg);
}

.nav-bar {
  max-width: 1300px;
  display: flex;
  flex-direction: column;
  position: fixed;
  justify-content: center;
  align-items: center;
  top: 0;
  height: 100vh;
  z-index: 1;
}

.nav-bar-items{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
    cursor: pointer;    
}

.nav-bar-items h4
{
    color : #0B1C63;
    position: absolute;
    left: 70px;
}

.hero, .hero1, .Skills, .Hobbies {
  max-width: 1300px;
  margin: 0 auto;
}

.hero {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  padding-left: 400px;
}

.welcome {
  font-size: 2.5rem;
  color: #0B1C63;
}

.my-self {
  font-size: 3.5rem;
  color: #0B1C63;
}

.name {
  font-family: "Nunito Sans", sans-serif;
  background-color: #617AE2;
  margin-left: 15px;
  color: white;
  padding: 4px;
  border-radius: 15px 5px 15px 5px;
}

.profession {
  margin-left: 100px;
  font-size: 2rem;
  display: flex;
  align-items: center;
  padding: 10px;
  color: #0B1C63;
  font-weight: bold;
}

.social-media
{
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.social-media a
{
    margin: 20px;
    padding: 10px;
    border-radius: 50%;
    background-color: #617AE2;
}

.social-media a i
{
    color: white !important;
}


.title {
  display: flex;
  justify-content: center;
  font-size: 3.5rem;
  padding: 30px;
  color: #0B1C63;
}

.timeline-section {
  padding: 30px 15px;
  z-index: -1;
}

.timeline-items {
  max-width: 1000px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  position: relative;
}

.timeline-items::before {
  content: "";
  position: absolute;
  width: 2px;
  height: 100%;
  background-color: white;
  left: calc(50% - 1px);
}

.timeline-item {
  margin-bottom: 40px;
  width: 100%;
  position: relative;
}

.timeline-item:last-child {
  margin-bottom: 0;
}

.timeline-item:nth-child(odd) {
  padding-right: calc(50% + 30px);
  text-align: right;
}

.timeline-item:nth-child(even) {
  padding-left: calc(50% + 30px);
}

.timeline-dot {
  height: 14px;
  width: 14px;
  background-color: #0B1C63;
  position: absolute;
  left: calc(50% - 7px);
  border-radius: 50%;
  top: 10px;
}

.timeline-date {
  font-size: 1rem;
  font-weight: 700;
  color: #0B1C63;
  margin: 6px 0 15px;
}

.timeline-content {
  background-color: #617AE2;
  padding: 30px;
  border-radius: 5px;
  position: relative;
  bottom: 5px;
  transition: bottom 0.5s ease, box-shadow 0.5s ease;
  max-width: 400px;
}

.move {
  margin-left: 100px;
}

.timeline-content:hover {
  bottom: 10px;
  cursor: pointer;
  box-shadow: 0 0 20px rgba(73, 67, 67, 0.3);
}

.timeline-content h3 {
  font-size: 2rem;
  color: #ffffff;
  margin: 0 0 10px;
  text-transform: capitalize;
  font-weight: 500;
}

.timeline-content h4 {
  color: #ffffff;
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 22px;
}

.Skills
{
  margin-top: 40px;
}

.Skills .title {
  margin-bottom: 30px;
}

.content {
  display: grid;
  row-gap: 50px;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas: "h h h h c c c c j j j j" "s s s s b b b b p p p p" "a a a a q q q q o o o o";
}

.html {
  grid-area: h;
}

.css {
  grid-area: c;
}

.js {
  grid-area: j;
}

.sass {
  grid-area: s;
}

.bootstrap {
  grid-area: b;
}

.c {
  grid-area: p;
}

.net {
  grid-area: a;
}

.sql {
  grid-area: q;
}

.office {
  grid-area: o;
}

.skill-items {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.icons {
  width: 80px;
  height: 80px;
}

.skill-title {
  margin-top: 10px;
  font-size: 1.5rem;
  color: #0B1C63;
}

.Hobbie
{
  height: 100vh;
  margin-top: 40px;
}

.Interests-Section
{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 30px;
}

.Interest-Items
{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Interest-Items h4
{
    margin-top: 10px;
    color: #0B1C63;
}
@media (min-width: 320px) and (max-width: 426px) {


}


@media (min-width: 426px) and (max-width: 768px) {
  .profession {
    font-size: 1.67rem;
    margin-left: 0px;
  }
}

@media (max-width: 769px) {
  .menu
  {
    position: fixed;
    right: 30px;
    top: 30px;
    display: block;
    z-index: 2;
    color: white !important;
    cursor: pointer;
  }
    .move {
    margin-left: 0px;
  }
  .nav-bar {
    display: flex;
    width: 80%;
    height: 100vh;
    right: -80%;
    justify-content: center;
    align-items: center;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.7);
    margin-bottom: 60px;
    transition: right 0.5s ease;
  }
  

  .nav-bar-items{
    display: flex;
    margin: 10px;
}

.nav-bar-items h4
{
  position: relative;
  left: 0px;
  text-align: center;
  width: 200px;
  padding: 8px;
  border-radius: 10px;
  color: white !important;
  font-size: 1.8rem;
  font-weight: 900px !important;
}
  .nav-bar-items a{
    display: none;
  }

  .nav-bar-items h4
  {
    color: #0B1C63;
  }
  .nav-bar-items:hover {
    bottom: 5px;
  }

  .hero {
    padding-left: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0px;
  }
  .timeline-items::before {
    left: 7px;
  }
  .timeline-item:nth-child(odd) {
    padding-right: 0;
    text-align: left;
  }
  .timeline-item:nth-child(odd),
  .timeline-item:nth-child(even) {
    padding-left: 37px;
  }
  .timeline-dot {
    left: 0;
  }

  .nav-bar-items h4
  {
      font-size: 1.3rem;
  }
  
  .nav-bar-items a i {
    font-size: medium !important;
  }
    
      .my-self {
      font-size: 2.5rem;
    }
    .profession {
      font-size: 1.5rem;
      margin-left: 0px;
    }
  
    .title {
      font-size: 2rem;
    }
    
    .timeline-content h3 {
      font-size: 1.5rem;
    }
    .timeline-content h4 {
      font-size: 1rem;
    }
  
    .content {
      row-gap: 20px;
    }
    .icons {
      width: 50px;
      height: 50px;
    }
    .skill-title {
      font-size: 0.8rem;
    }
}

@media (min-width: 769px) {
  .social-media
  {
    width: 390px;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  
  .social-media a
  {
      margin: 0px;
  }

  
  }
