@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
  scroll-padding: 10rem;
}

.arrow {
  width: 100%;
  display: flex;
  justify-content: center;
}

.arrow a {
  position: fixed;
  bottom: 30px;
  transition: bottom 0.3s ease;
  z-index: 1;
}

.arrow a:hover {
  bottom: 37px;
}

.nav-bar {
  max-width: 1300px;
  display: flex;
  flex-direction: column;
  position: fixed;
  justify-content: center;
  align-items: center;
  top: 0;
  height: 100vh;
  z-index: 1;
}

.nav-bar-items {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
}

.nav-bar-items {
  bottom: 5px;
  position: relative;
  transition: bottom 0.3s ease;
}

.nav-bar-items:hover {
  bottom: 10px;
}

.nav-bar-items h4 {
  color: rgb(182, 187, 196);
}

.hero, .hero1, .Skills {
  max-width: 1300px;
  margin: 0 auto;
  margin-bottom: 10px;
}

.hero {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  padding-left: 400px;
}

.welcome {
  font-size: 2.5rem;
  color: rgb(182, 187, 196);
}

.my-self {
  font-size: 3.5rem;
  color: rgb(182, 187, 196);
}

.name {
  font-family: "Nunito Sans", sans-serif;
  background-color: rgb(174, 222, 252);
  margin-left: 15px;
  color: white;
  padding: 4px;
  border-radius: 15px 5px 15px 5px;
}

.profession {
  margin-left: 100px;
  font-size: 2rem;
  display: flex;
  align-items: center;
  padding: 10px;
  color: rgb(182, 187, 196);
  font-weight: bold;
}

.hero1 {
  height: 120vh;
}

.title {
  display: flex;
  justify-content: center;
  font-size: 3.5rem;
  padding: 30px;
  color: rgb(182, 187, 196);
}

.timeline-section {
  min-height: 100vh;
  padding: 30px 15px;
  z-index: -1;
}

.timeline-items {
  max-width: 1000px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  position: relative;
}

.timeline-items::before {
  content: "";
  position: absolute;
  width: 1px;
  height: 100%;
  background-color: rgb(182, 187, 196);
  left: calc(50% - 1px);
}

.timeline-item {
  margin-bottom: 40px;
  width: 100%;
  position: relative;
}

.timeline-item:last-child {
  margin-bottom: 0;
}

.timeline-item:nth-child(odd) {
  padding-right: calc(50% + 30px);
  text-align: right;
}

.timeline-item:nth-child(even) {
  padding-left: calc(50% + 30px);
}

.timeline-dot {
  height: 14px;
  width: 14px;
  background-color: rgb(174, 222, 252);
  position: absolute;
  left: calc(50% - 7px);
  border-radius: 50%;
  top: 10px;
}

.timeline-date {
  font-size: 1rem;
  font-weight: 700;
  color: rgb(174, 222, 252);
  margin: 6px 0 15px;
}

.timeline-content {
  background-color: rgb(174, 222, 252);
  padding: 30px;
  border-radius: 5px;
  position: relative;
  bottom: 5px;
  transition: bottom 0.5s ease, box-shadow 0.5s ease;
  max-width: 400px;
}

.move {
  margin-left: 100px;
}

.timeline-content:hover {
  bottom: 10px;
  cursor: pointer;
  box-shadow: 0 0 20px rgba(73, 67, 67, 0.3);
}

.timeline-content h3 {
  font-size: 2rem;
  color: #ffffff;
  margin: 0 0 10px;
  text-transform: capitalize;
  font-weight: 500;
}

.timeline-content h4 {
  color: #ffffff;
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 22px;
}

.Skills {
  height: 100vh;
}

.Skills .title {
  margin-bottom: 30px;
}

.content {
  display: grid;
  row-gap: 50px;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas: "h h h h c c c c j j j j" "s s s s b b b b p p p p" "a a a a q q q q o o o o";
}

.html {
  grid-area: h;
}

.css {
  grid-area: c;
}

.js {
  grid-area: j;
}

.sass {
  grid-area: s;
}

.bootstrap {
  grid-area: b;
}

.c {
  grid-area: p;
}

.net {
  grid-area: a;
}

.sql {
  grid-area: q;
}

.office {
  grid-area: o;
}

.skill-items {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.icons {
  width: 80px;
  height: 80px;
}

.skill-title {
  margin-top: 10px;
  font-size: 1.5rem;
}

@media (min-width: 320px) and (max-width: 426px) {
  .nav-bar-items a i {
    font-size: medium !important;
  }
  .nav-bar-items {
    bottom: 12px;
  }
  .nav-bar-items h4 {
    font-size: 0.8rem;
  }
  .my-self {
    font-size: 2.5rem;
  }
  .profession {
    font-size: 1.5rem;
    margin-left: 0px;
  }
  .title {
    font-size: 2rem;
  }
  .hero1 {
    height: 125vh;
  }
  .timeline-content h3 {
    font-size: 1.5rem;
  }
  .timeline-content h4 {
    font-size: 1rem;
  }
  .content {
    row-gap: 20px;
  }
  .icons {
    width: 50px;
    height: 50px;
  }
  .skill-title {
    font-size: 0.8rem;
  }
}
@media (min-width: 426px) and (max-width: 768px) {
  .nav-bar-items {
    bottom: 8px;
    margin: 30px;
  }
  .profession {
    font-size: 1.67rem;
    margin-left: 0px;
  }
  .hero1 {
    height: 140vh;
  }
}
@media (max-width: 769px) {
  .move {
    margin-left: 0px;
  }
  .nav-bar {
    width: 100%;
    height: 70px;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: lightgray;
  }
  .nav-bar a {
    margin-top: 20px;
  }
  .nav-bar a i {
    color: white !important;
  }
  .nav-bar-items h4 {
    color: white;
    margin-top: 5px;
  }
  .nav-bar-items:hover {
    bottom: 5px;
  }
  .hero {
    padding-left: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0px;
  }
  .timeline-items::before {
    left: 7px;
  }
  .timeline-item:nth-child(odd) {
    padding-right: 0;
    text-align: left;
  }
  .timeline-item:nth-child(odd),
  .timeline-item:nth-child(even) {
    padding-left: 37px;
  }
  .timeline-dot {
    left: 0;
  }
}
